* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  /* max-width: 2000px; */
  margin: 0 auto;
  align-content: center;
  /* display: grid;
  justify-content: center; */
}

.header {
  background-color: rgb(103, 89, 228);
  padding: 50px 50px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* This is the container that has images in it */

.container {
  grid-template-columns: repeat(5, 300px);
  max-width: 100%;
  display: grid;
  gap: 4rem;
  justify-content: space-evenly;
}

.upset {
  cursor: pointer;
}

.great:hover {
  cursor: pointer;
  background-color: gray;
  border-radius: 25px;
  transition: 0.5s;
}

.great:active {
  cursor: pointer;
  background-color: gray;
}

.sad {
  cursor: pointer;
}

.okay {
  cursor: pointer;
}

.happy {
  cursor: pointer;
}

.great {
  cursor: pointer;
}

h2 {
  text-align: center;
  font-weight: bold;
  margin: 30px 0;
}

.form-information {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 1;
  justify-content: space-evenly;
  font-size: 18px;
  line-height: 3em;
}

/* .flexbox-1 {
  margin-left: 30px;
  margin-right: 30px;
}

.flexbox-2 {
  margin-left: 30px;
  margin-right: 30px;
}

.flexbox-3 {
  margin-left: 30px;
  margin-right: 30px;
} */

/* This is the area for the form data */

textarea {
  resize: none;
  width: 600px;
  height: 200px;
  cursor: text;
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  align-content: center;
  margin: 15px 0;
}

.submit-button {
  background: none;
  width: 300px;
  height: 50px;
  font-weight: bold;
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  border: 5px solid rgb(103, 89, 228);
  cursor: pointer;
  transition: 1s;
}

.submit-button:hover {
  background: rgb(202, 253, 204);
  border-radius: 25px;
  text-transform: uppercase;
  letter-spacing: 1em;
  border: 5px solid rgb(5, 170, 170);
  width: 400px;
  transition: 1s;
}

/* Media response when web page is resized */

@media only screen and (max-width: 800px) {
  .container {
    display: grid;

    margin: 0 auto;
  }
  .form-information {
    flex-wrap: wrap;
  }
}
